.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
 }
 
 .about .image{
    flex:1 1 41rem;
 }
 
 .about .image img{
    width: 100%;
 }
 
 .about .content{
    flex:1 1 41rem;
 }
 
 .about .content .title{
    font-size: 4rem;
    color:var(--black);
 }
 
 .about .content p{
    font-size: 1.7rem;
    color:var(--light-black);
    padding:1rem 0;
    line-height: 2;
 }
 
 .about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 3rem;
 }
 
 .about .content .icons-container .icons{
    flex:1 1 16rem;
    text-align: center;
    background: var(--light-bg);
    padding:3rem 1rem;
    width: 11rem;
 }
 
 .about .content .icons-container .icons img{
    height: 5rem;
 }
 
 .about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 2rem;
    color:var(--light-black);
    font-weight: normal;
 }
 .about .content .close {
   position: absolute;
    top: 0;
    background-color: #fff;
    right: 30px;
    transition: all 200ms;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
 }
 .about .content .close:hover{
   color: var(--peru);
 }
 
 .about .content h2 {
   margin-top: 0;
   color: #333;
   font-size: 2rem;
 }
 .about .content .content-1 {
   max-height: 30%;
   overflow: auto;
   font-size: 2rem;
   flex: 1;
 }
 .about .content .content-2 {
   max-height: 30%;
   overflow: auto;
   font-size: 2rem;
   flex: 1;
 }
 .about .content .vl {
   border-left: 2px solid black;
   height: auto;
   width: 1rem;
   margin-left:25px;
 }
 